packaging==24.2
wandb==0.19.8
diffusers==0.32.2
timm==1.0.3
transformers==4.48.1
sentencepiece==0.2.0
h5py==3.11.0
opencv-python==4.9.0.80
imgaug==0.4.0
huggingface_hub==0.29.3
numpy==1.26.4
tokenizers==0.21.1
safetensors
termcolor==2.5.0
draccus==0.10.0
bitsandbytes==0.42.0
datasets==3.3.2
jsonlines==4.0.0
pytest==8.3.5
tyro==0.9.5
websockets==14.1
peft==0.17.1
ninja
trl
deepspeed
accelerate
imageio[ffmpeg]
robosuite==1.4.1
bddl
easydict
cloudpickle
gym